/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonts */
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    text-align: center;
}
h1 {
    font-size: 2.5rem;
    font-weight: 600;
}
h2 {
    font-size: 1.6rem;
    font-weight: 600;
}
h3 {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 10px 0px;
}
p {
    font-size: 1rem;
    margin: 5px;
    line-height: 1.3rem;
}
strong {
    font-weight: 700;
}
/* Input Div */
#inputSection {
    width: 90%;
    margin: 0 auto;
    border: 2px black solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.information {
    text-align: left;
    margin: 40px;
}
.code {
    background-color: black;
    color: white;
    padding: 20px;
    font-family: "Courier New", Courier, monospace;
    margin: 5px 0px;
}
/* Actual Inputs */
.file-input-container {
    position: relative;
    margin: 20px 0;
}
input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
label {
    display: inline-block;
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}
.underline {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: blue;
    transition: width 0.2s ease-in-out;
}
label:hover + .underline,
input[type="file"]:focus + label + .underline {
    width: 100%;
}
.file-name {
    margin-left: 10px;
    font-size: 16px;
    font-style: italic;
}
/* Downloads */
.download-link {
    display: inline-block;
    padding: 5px;
    background-color: #2196F3;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.download-link:hover {
    background-color: #0D47A1;
}
/* Metric */
#metric {
    width: 80%;
    margin: 50px auto;
    border: 2px black solid;
    border-radius: 5px;
    padding: 20px;
}
#metric img {
    height: 12vh;
    margin: 10px;
    border: 1px black solid;
    border-radius: 5px;
    padding: 20px;
}
/* Spacing */
#title {
    margin: 50px 0;
}
/* Shuffle! */
.bubble-button {
    border: 2px black solid;
    border-radius: 5px;
    color: black;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    margin: 30px;
}
.bubble-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: black;
    opacity: 0;
    transition: opacity 1 ease-out;
}
.bubble-button:hover {
    cursor: pointer;
}
.bubble-button:hover::before {
    opacity: 1;
    width: 200px;
    height: 200px;
    transition: opacity 0.3s ease-out, width 0.5s ease-out, height 0.5s ease-out;
    animation: bubble 2s ease-out infinite;
}
@keyframes bubble {
    0% {
        transform: scale(0);
        opacity: 0.8;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.4;
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}
/* Results */
#results {
    display: flex;
    width: 45%;
    margin: 0px auto 100px;
    justify-content: space-between;
    border: 2px black solid;
    border-radius: 5px;
    padding: 10px;
}
#resultsMetric {
    text-align: left;
}
/* misc stuff */
.red {
    color: red;
}
.green {
    color: green;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}